<p id="notice"><%= notice %></p>


<p>
  <font size="5">
  <strong>Hems:</strong>
  <%= @graph.hems_id %>
  </font>
</p>

<p>
  <font size="5">
  <strong>Postal:</strong>
  <%= @graph.postal %>
  </font>
</p>

<p>
  <font size="5">
  <strong>Start:</strong>
  <%= @graph.start %>
  </font>
</p>

<p>
  <font size="5">
  <strong>End:</strong>
  <%= @graph.end %>
  </font>
</p>

<% graph_id=0 %>
<p>
  <font size="5">
  <strong>Main:</strong>
  <%= @graph.main %>
  </font>
</p>
<p>
  <% if @graph.main==true then %>
  <%= line_chart @chart_data[graph_id][:data] %>
  <% graph_id = graph_id + 1 %>
  <% else %>
  <% end %>
</p>

<p>
  <font size="5">
  <strong>Solar generate:</strong>
  <%= @graph.solar_generate %>
  </font>
</p>
<p>
  <% if @graph.solar_generate==true then %>
  <%= line_chart @chart_data[graph_id][:data] %>
  <% graph_id = graph_id + 1 %>
  <% else %>
  <% end %>
</p>

<p>
  <font size="5">
  <strong>Solar sold:</strong>
  <%= @graph.solar_sold %>
  </font>
</p>
<p>
  <% if @graph.solar_sold==true then %>
  <%= line_chart @chart_data[graph_id][:data] %>
  <% graph_id = graph_id + 1 %>
  <% else %>
  <% end %>
</p>

<p>
  <font size="5">
  <strong>Battery charge:</strong>
  <%= @graph.battery_charge %>
  </font>
</p>
<p>
  <% if @graph.battery_charge==true then %>
  <%= line_chart @chart_data[graph_id][:data] %>
  <% graph_id = graph_id +1 %>
  <% else %>
  <% end %>
</p>

<p>
  <font size="5">
  <strong>Battery discharge:</strong>
  <%= @graph.battery_discharge %>
  </font>
</p>
<p>
  <% if @graph.battery_discharge==true then %>
  <%= line_chart @chart_data[graph_id][:data] %>
  <% graph_id = graph_id + 1 %>
  <% else %>
  <% end %>
</p>

<p>
  <font size="5">
  <strong>Fuel cell:</strong>
  <%= @graph.fuel_cell %>
  </font>
</p>
<p>
  <% if @graph.fuel_cell==true then %>
  <%= line_chart @chart_data[graph_id][:data] %>
  <% graph_id = graph_id + 1 %>
  <% else %>
  <% end %>
</p>

<p>
  <font size="5">
  <strong>Gus:</strong>
  <%= @graph.gus %>
  </font>
</p>
<p>
  <% if @graph.gus==true then %>
  <%= line_chart @chart_data[graph_id][:data] %>
  <% graph_id = graph_id + 1 %>
  <% else %>
  <% end %>
</p>

<p>
  <font size="5">
  <strong>Water:</strong>
  <%= @graph.water %>
  </font>
</p>
<p>
  <% if @graph.water==true then %>
  <%= line_chart @chart_data[graph_id][:data] %>
  <% graph_id = graph_id + 1 %>
  <% else %>
  <% end %>
</p>

<center><strong><font size="8">All</font></strong></center>
<%= line_chart @chart_data.each do |mau|
  {:name => mau.name, :data => mau.data}
end %>

<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>
